*,
*::after,
*::before {
  box-sizing: border-box;
}
@font-face {
    font-family:'ArchivoNarrow';
    src: url('fonts/ArchivoNarrow-Regular.otf')format('opentype');
    font-weight: normal;
    font-style: normal;
}

body {
  padding: 0;
  margin: 0;
  font-family: ArchivoNarrow;
  letter-spacing: 5px;
  font-size: 16px;
}
a {
  display: block;
  text-decoration: none;
  color: inherit;
}
body ul {
  list-style: none;
}

/*MENU*/
.on-scroll-position {
    position:fixed;
}
.on-scroll-switch {
    display: flex;
    flex-direction: row-reverse;
    margin-top: 20px;
}
.on-scroll-button {
    margin-right: 0;
}
nav {
    display: flex;
    justify-content: space-between;
    background: white;
    width: 100%;
}
#menu {
    justify-self: end;
}
#button {
    display: flex;
    margin: 10px 46px 0 auto;
    width: 238px;
    height: 50px;
    background-color: #ef1615;
    text-transform: uppercase;
    border: none;
    color: white;
    padding: 10px 42px;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
}
#menu ul {
    display: flex;
    margin-right: 22px;
}
#menu ul li a {
    height: 100%;
    padding: 10px 20px;
    text-transform: uppercase;
    overflow: hidden;
}
#menu ul li a:last-child::after {
    content: none;
}
#menu ul li a:after {
    content: "";
    display: inline-block;
    height: 0.8em;
    width: 100%;
    margin-right: -100%;
    margin-left: 28px;
    border-left: 1px solid black;
}

/*END MENU - START VISUAL BLOCK*/

.visuel{
    background-attachment: fixed;
    background-size: cover;
    height: 650px;
    display: flex;
    justify-content: center;
    background-image: url(img/main.PNG);

}
.text {
    text-align: center;
    text-shadow: #2a2829 1px 0 10px;
    color: white;
    margin-top: 11%;

}
.text h1{
    font-size: 5em;
    text-transform: uppercase;
    margin: 0;
}
.text h2 {
    font-size: 2em;
}

/*END VISEUL BLOCK - START CONTAINER*/

section {
    max-width: 1200px;
    margin: 0 auto;
}
/*FIRST SECTION*/
.first {
    text-align: center;
    justify-content: center;
    padding-top: 45px;
}

.first h1 {
    text-transform: uppercase;
    margin: 0;
}
.first h1 {
    font-size: 2em;
}
/*SECOND SECTION*/
.second {
    display: flex;
    justify-content: center;
    text-align: center;
    background-attachment: fixed;
    background-size: cover;
    height: 350px;
    background-image: url(img/main.PNG);
}
.chaudronnerie {
    color:white;
    margin-top: 10%;
}
.chaudronnerie h1 {
    text-transform: uppercase;
}
.chaudronnerie h2 {
    margin-top: 110px;
    overflow: hidden;
}
/*THIRD SECTION*/
.third {
    display: flex;
    justify-content: space-between;
    text-align: center;
}
.pre {
    justify-content: center;
    background-size: cover;
    height: 300px;
    background-image: url(img/main.PNG);
}
.deux {
    justify-content: center;
    background-size: cover;
    height: 300px;
    background-image: url(img/main.PNG);
}
.trois {
    justify-content: center;
    background-size: cover;
    height: 300px;
    background-image: url(img/main.PNG);
}