*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
}
a {
  display: block;
  text-decoration: none;
  color: inherit;
}
body ul {
  list-style: none;
}

/*MENU*/
nav {
    display: flex;
    justify-content: space-between;
}
menu {
    justify-self: end;
}
menu button {
    display: flex;
    margin-left: auto;
    margin-right: 46px;
    background-color: #ef1615;
    text-transform: uppercase;
    border: none;
    color:white;
    padding: 10px 30px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
}
menu ul {
    display: flex;
    margin-right: 24px;
}
menu ul li a {
    height: 100%;
    padding: 10px 20px;
    text-transform: uppercase;
    overflow: hidden;
}
menu ul li a:last-child::after {
    content: none;
}
menu ul li a:after {
    content: "";
    display: inline-block;
    height: 0.8em;
    /* vertical-align: bottom; */
    width: 100%;
    margin-right: -100%;
    margin-left: 28px;
    border-left: 1px solid black;
}