*,
*::after,
*::before {
  box-sizing: border-box;
}
@font-face {
    font-family:'ArchivoNarrow';
    src: url('fonts/ArchivoNarrow-Regular.otf')format('opentype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family:'Roboto';
    src: url('fonts/RobotoCondensed-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}
body {
  padding: 0;
  margin: 0;
  font-family: ArchivoNarrow;
  letter-spacing: 5px;
  font-size: 16px;
}
h2 {
    letter-spacing: 2px;
}
p {
    font-family: Roboto;
    letter-spacing: 1px;
}
a {
  display: block;
  text-decoration: none;
  color: inherit;
}
body ul {
  list-style: none;
}
.link-spanner{ 
    position:absolute; 
    width:100%;
    height:100%;
    top:0;
    left: 0;
    z-index: 1;
  }
.hr {
   height: 3px;
   width: 50px;
   background:red;
   border: none;
}
/*MENU*/
.on-scroll-switch {
    display: flex;
    flex-direction: row-reverse;
    margin-top: 20px;
}
nav {
    display: flex;
    justify-content: space-between;
    background: white;
    width: 100%;
    font-size: 16px;
    font-weight: bold;
    position:fixed;
    z-index: 2;
}
.button {
    display: flex;
    margin: 10px 35px 0 auto;
    width: 280px;
    height: 50px;
    background-color: #ef1615;
    text-transform: uppercase;
    border: none;
    color: white;
    padding: 10px 42px;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}
.menu ul {
    display: flex;
    margin-right: 22px;
}

.menu ul li a {
    height: 100%;
    padding: 10px;
    text-transform: uppercase;
    overflow: hidden;
}
.menu ul li a:last-child::after {
    content: none;
}
.menu ul li a:after {
    content: "";
    height: 0.8em;
    width: 100%;
    margin-left: 12px;
    border-left: 1px solid black;
}

/*END MENU - START VISUAL BLOCK*/

.visuel{
    background-size: cover;
    height: 650px;
    display: flex;
    justify-content: center;
    background-image: url(img/main.PNG);
}
.visual hr {
    width: 120px;
    height: 6px;
    background:white;
}
.visuel:before {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    background: #ffffff;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0.1;
    z-index: 1;
}
.text {
    color: white;
    height: 100%;
    padding: 0;
    margin: 0;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 1;

}
.text h1{
    font-size: 5em;
    text-transform: uppercase;
    margin: 0;
}
.text h2 {
    font-size: 2em;
    margin-top: 0;
}

/*END VISEUL BLOCK - START CONTAINER*/

section {
    max-width: 1420px;
    margin: 0 auto;
}
section hr {
   size:5px;
   height: 5px;
   width: 55px;
   background:white;

}
/*FIRST SECTION*/
.first {
    text-align: center;
    justify-content: center;
    padding-top: 45px;
}

.first h1 {
    text-transform: uppercase;
    margin: 0;
}
.first h1 {
    font-size: 2em;
}
/*SECOND SECTION*/
.second {
    display: flex;
    justify-content: center;
    text-align: center;
    background-size: cover;
    height: 360px;
    background-image: url(img/main.PNG);
}
.chaudronnerie {
    color:white;
    margin-top: 110px;
}
.chaudronnerie h1 {
    text-transform: uppercase;
    font-size: 30px;
    margin-bottom: 15px;
    text-shadow: #2a2829 1px 0 10px;
}
.chaudronnerie h2 {
    margin-top: 110px;
    overflow: hidden;
    font-size: 16px;
    text-shadow: #2a2829 1px 0 10px;
}
/*THIRD SECTION*/
.third {
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin-top: 25px;
    color: white;
}
.pre {
    position: relative;
    justify-content: center;
    background-size: cover;
    height: 410px;
    width:520px;
    background-image: url(img/main.PNG);
    
}
.pre h1, .deux h1, .trois h1{
    margin-top: 200px;
    text-transform: uppercase;
    font-size: 30px;
    margin-bottom: 15px;
    text-shadow: #2a2829 1px 0 10px;
}
.pre h2, .deux h2, .trois h2{
    margin-top: 100px;
    font-size: 16px;
    text-shadow: #2a2829 1px 0 10px;
}
.dash hr {
    position: relative;
    left: 139px;
    bottom: 22px;
    background: red;
    height: 3px;
    border: none;
    width: 23px;
}
.deux {
    position: relative;
    justify-content: center;
    background-size: cover;
    height: 410px;
    width:520px;
    background-image: url(img/main.PNG);
}
.trois {
    position: relative;
    justify-content: center;
    background-size: cover;
    height: 410px;
    width:340px;
    background-image: url(img/main.PNG);
}


/*END OF THIRD PART / BEGUIN FOURTH*/

.fourth {
    text-align: center;
    margin-bottom: 70px;
}
 .btn {
    height: 50px;
    background-color: #ef1615;
    text-transform: uppercase;
    border: none;
    color: white;
    padding: 10px 42px;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}
.fourth h1 {
    font-size: 36px;
    text-transform: uppercase;
    margin-bottom: 5px;
}

.pictos {
    display: flex;
    justify-content: space-around;
    text-align: center;
    margin: 50px 0;
}
.picto {
    width: 200px;
}
.picto h2 {
    font-size: 18px;
}
.picto p {
    font-size: 16px;
}

/*SECTION FIVE*/

.five {
    color: white;
    background-size: cover;
    text-align: center;
    height: 310px;
    background-image: url(img/main.PNG);
    margin-bottom: 70px;
}
.five button{
    position:relative;
    top: 140px;
}
.fifth {
    position: relative;
    top: 100px;
    text-shadow: #2a2829 1px 0 10px;
}
.fifth h2 {
    text-transform: uppercase;
    margin-bottom: 5px;
    font-size: 30px;
}
.fifth p {
    margin-top: 0;
    font-size: 22px;
    font-weight: bold;
}

/*SIXTH*/
.six {
    text-align: center;
    width: 1240px;
}
.six h1 {
    text-transform: uppercase;
}
.picto1{
    color: white;
    position: relative;
    justify-content: center;
    background-size: cover;
    height: 410px;
    width:380px;
    background-image: url(img/tube.PNG);
}
.picto1 h2 {
    position: relative;
    top: 300px;
    font-size: 24px;
    font-weight: lighter;
}

/*SEVEN*/
.seven {
    text-align: center;
}
.seven h1 {
    text-transform: uppercase;
}
.seven p {
    margin-top: 50px;
    margin-bottom: 30px;
}
i {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
  }
.right {
    position: relative;
    bottom: 50px;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
  }
  
.left {
    position: relative;
    bottom: 50px;
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}
.scroll img{
    padding: 0 50px;
}
