footer {
    background:#282828;
    color: white;
}
.main {
    display: flex;
    justify-content: space-around;
    text-align: center;
    padding-top: 50px;
    h2 {
        font-size: 18px;
    }
     p {
        font-size: 16px;
    }
     div {
        width: 400px;
    }
}
.footer {
    text-align: center;
    border-top: 1px solid #ffffff59;
    margin-top: 30px;
}
.container {
    margin: 0 auto;
    max-width: 1200px;;
}
.adress, .logo {
    border-right: 1px solid #ffffff59;
}