.second {
    color: $section_color;
    display: flex;
    justify-content: center;
    text-align: center;
    background-size: cover;
    height: 360px;
    background-image: url(img/main.PNG);
    &:hover::before {
        content: "";
        display: block;
        width: 1420px;
        height: 359px;
        background: #ffffff;
        position: absolute;
        top: 899px;
        left: 241px;
        right: 0;
        bottom: 0;
        opacity: 0.5;
        transition: .5s ease;
    }
}
.second:hover > .chaudronnerie h1 {
    color: black;
    text-shadow: none;
}
.second:hover > .chaudronnerie h2 {
    color: black;
    text-shadow: none;
}
.chaudronnerie {
    margin-top: 110px;
    z-index: 1;
    h1 {
        text-transform: uppercase;
        font-size: 30px;
        margin-bottom: 15px;
        text-shadow: $shadow;
        z-index: 1;
    }
    h2 {
        margin-top: 110px;
        overflow: hidden;
        font-size: 16px;
        text-shadow: $shadow;
    }
}