@mixin transformH1 {
    margin-top: 200px;
    text-transform: uppercase;
    font-size: $m-size;
    margin-bottom: 15px;
    text-shadow: $shadow;
}
@mixin transfromH2 {
    margin-top: 100px;
    font-size: $s-size;
    text-shadow: $shadow;
}
@mixin importImage($largeur) {
    position: relative;
    justify-content: center;
    background-size: cover;
    height: 410px;
    width:$largeur;
}
@mixin hoverElement($largeur) {
    content: "";
    display: block;
    width: $largeur;
    height: 410px;
    background: #ffffff;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0.3;
    -webkit-transition: .5s ease;
    transition: .5s ease;
}
.third {
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin-top: 25px;
    color: $section_color;
}
.pre {
    @include importImage(520px);
    background-image: url(img/main.PNG);
    .hover {
        position: relative;
        z-index: 1;
        h1 {
            @include transformH1();
        }
        h2 {
            @include transfromH2();
        }
    }
    &:hover {
        color: black;
    }
    &:hover::before {
       @include hoverElement(520px);
    }
    &:hover > .hover h1{
        text-shadow: none;
    }
    &:hover > .hover h2{
        text-shadow: none;
    }
    
}
.dash hr {
    position: relative;
    left: 139px;
    bottom: 22px;
    background: red;
    height: 3px;
    border: none;
    width: 23px;
}
.deux {
    @include importImage(520px);
    background-image: url(img/main.PNG);
    .hover {
        position: relative;
        z-index: 1;
        h1 {
            @include transformH1();
        }
        h2 {
            @include transfromH2();
        }
    }
    &:hover {
        color: black;
    }
    &:hover::before {
       @include hoverElement(520px);
    }
    &:hover > .hover h1{
        text-shadow: none;
    }
    &:hover > .hover h2{
        text-shadow: none;
    }
}
.trois {
    @include importImage(340px);
    background-image: url(img/main.PNG);
    .hover {
        position: relative;
        z-index: 1;
        h1 {
            @include transformH1();
        }
        h2 {
            @include transfromH2();
        }
    }
    &:hover {
        color: black;
    }
    &:hover::before {
       @include hoverElement(340px);
    }
    &:hover > .hover h1{
        text-shadow: none;
    }
    &:hover > .hover h2{
        text-shadow: none;
    }
}
